version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5

  - package-ecosystem: "poetry"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
